body {
font-family: 'Roboto', sans-serif;
color:#434455;
background-color:#ffffff;
}

a {
text-decoration: none;
}
button {
cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p {
margin: 0;
} 
ul,ol {
list-style: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img {
display: block;
height: auto;
max-width: 100%;
}

.container {
max-width: 320px;
padding-left: 16px;
padding-right: 16px;
margin-left: auto;
margin-right: auto;
}
@media screen and (min-width: 768px){
.container {
max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
.container {
max-width: 1158px;
padding: 0 15px;
}
}

/* Page Header */
.header {
border-bottom:1px solid #E7E9FC;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}
.container-header {
display: flex; 
justify-content: space-between; 
border-bottom:1px solid #E7E9FC;
align-items: center;
}
.nav-page {
display: flex;
align-items: center;
}
.logo {
color:#4D5AE5;
font-family:Raleway, sans-serif;
font-size:18px;
font-weight:700;
line-height:1.17;
letter-spacing:0.03em;
text-transform:uppercase;
padding: 17px 0;
}

.logo-part {
color:#2e2f42;
}
.nav-list {
display: none;
}
      
.address {
font-style:normal;
display: none;
}

.open-menu-btn {
padding: 0;
line-height: 0;
background-color: transparent;
cursor: pointer;
border: none;
}

@media screen and (min-width:768px){
.nav-list {
display: flex;
gap: 40px;
}
.open-menu-btn {
display: none;
}
.address {
display: block;
}
.logo {
margin-right: 120px;
}
.nav-link {
display: block;
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
gap: 40px;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-page {
display: flex;
align-items: center;
padding-top: 24px;
padding-left: 156px;
gap: 40px;
}

.address-link {
color: #434455;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.02em;
gap: 40px;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
color: #404BBF;
}
.current {
position: relative;
color: #404BBF;
}

.current::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
background-color: #404BBF;
border-radius: 2px;
height: 4px;
width: 100%;
}

.nav-link:hover,
.nav-link:focus {
color: #404BBF;
}
.address-page {
display: flex;
flex-direction: column;
gap: 12px;
}
}

@media screen and (min-width: 1158px) {
.logo {
margin-right: 76px;
} 
.address-page {
flex-direction: row;
gap: 40px;
}
.address-item {
font-size: 16px;
line-height: 1.5;
}
    
}


/* Hero section */
.hero-section {
background-color:#2E2F42;
padding: 72px 0;
background-image: linear-gradient( 
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/office-mobile.jpg);
background-repeat: no-repeat;
background-size: cover;
max-width: 320px;
max-height: 432px;
background-position: center;
margin-left: auto;
margin-right: auto;
}

@media only screen and (min-resolution: 192dpi) {
.hero-section {
background-image: url('../images/office-mobile@2x.jpg');
}
}

.hero-section-title {
font-weight:700;
font-size:36px;
line-height:1.11;
text-align:center;
letter-spacing:0.02em;
color:#ffffff;
max-width: 320px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}

.hero-section-button {
font-weight: 500;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.04em;
color:white;
background: #4d5ae5;
margin-left: auto;
margin-right: auto;
display: block;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section-button:hover,
.hero-section-button:focus {
background-color:#404BBF;
color:#ffffff ;
cursor:pointer;
}

@media screen and (min-width: 768px) {
.hero-section {
background-image: url('../images/office-tablete.jpg');
margin: 0;
min-width: 768px;


}
.hero-section-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
margin: 0 auto; 
max-width: 496px; 
}
.hero-section-button {
margin-top: 36px;
}
.mobile-menu {
display: none;
}
}
@media screen and (min-width: 1158px){
.hero-section {
max-width: 1440px;
max-height: 600px;
background-image: url('../images/office.jpg');
}
}


/* Our advantages */
.page-our-advantages {
padding-top: 120px;
padding-bottom: 120px;
}
.our-advantages-item {
display: flex;
flex-direction: column;

gap: 72px;

}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


.our-advantages {
font-weight: 700;
font-size: 36px;
line-height:1.11;
letter-spacing:0.02em;
color:#2e2f42;
margin-bottom: 8px;
text-align: center;
}

.our-advantages-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.advantages-icon-container {
display: none;
}


.advantages-icon {
display: flex;
flex-direction: column;
align-items: ;
gap: 24px;
}
.advantages-icon-item {
width: calc((100% - 72px) / 4);
}

@media  and (min-width: 1158px) {
.advantages-icon-container {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px;
border-radius: 4px;
border: 1px solid #8e8f99;
width: 264px;
margin-right: 24px;
} 
.our-advantages-list {
width: calc((100%-72px)/4);
}

}


/* Our team */
.our-team {
background-color:#F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}

.page-our-team {
display: flex;
gap: 24px;
}
.our-team-title {
font-weight: 700;
font-size:36px;
line-height:1.11;
letter-spacing:0.02em;
text-transform:capitalize;
text-align:center;
color:#2e2f42;
margin-bottom: 72px;
}
.our-team-item {
background-color:#ffffff;
width: calc((100% - 72px) / 4);
border-radius: 0 0 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.our-team-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align:center;
color: #2e2f42;
background-color: #ffffff;
margin-bottom: 8px;
    
}
.team-container-item {
padding: 32px 0;
}
.our-team-role {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
padding-bottom: 8px;
}
.team-icon-list {
display: flex;
gap: 24px;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.social-link {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color:#4D5AE5;
fill:  #fff;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
background-color: #404BBF;
}
.social-link:focus {
background-color: #404BBF;
}
.svg {
fill: #F4F4FD;
}

/* Our portfolio */
.our-portfolio-section {
padding-top: 120px;
padding-bottom: 120px;
}
.our-portfolio {
font-weight:700;
font-size: 36px;
line-height:1.11;
letter-spacing:0.02em;
text-transform:capitalize;
text-align:center;
color:#2e2f42;
margin-bottom: 72px;
}
.page-portfolio {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.our-portfolio-card {
width: calc((100% - 48px) / 3); 
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-card:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-div-image {
position: relative;
overflow: hidden;
}
.our-portfolio-card:hover .overlay {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
transform: translateY(0%);
}

.our-portfolio-card-item {
padding: 32px 16px;
border-bottom: 1px solid #e7e9fc;
border-top: none;
}

.our-portfolio-title {
font-weight:500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.our-portfolio-card-overlay {
position: absolute;
top: 0;
left: 0;
background-color: #4D5AE5;
color: #F4F4FD;
width: 100%;
height: 100%;
overflow: auto;
transform: translateY(100%);
transition: transform 250ms linear;
}


.our-portfolio-text-overlay {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
position: absolute;
top: 0;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.our-portfolio-text-overlay {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
position: absolute;
top: 0;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-card:hover .our-portfolio-text-overlay {
transform: translateY(0%);
}
.our-portfolio-list {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* Footer */
.footer {
background-color: #2E2F42;
padding: 100px 0;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height:1.5;
letter-spacing:0.02em;
color:#f4f4fd;
max-width: 264px;
}

.footer-logo {
color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;
}
.footer-logo-part {
color: #f4f4fd;
}

.footer .container {
display: flex;
align-items: baseline;
}
.footer-logo-container {
margin-right: 120px;
}

.footer-social-list {
display: flex;
gap: 16px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-title {
font-family: "Roboto",
sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;  
margin-bottom: 16px;
}

.footer-social-link {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color:#4D5AE5;
fill: #fff;
}


.footer-social-link:hover {
background-color: #31d0aa;
}
.footer-social-link:focus {
background-color:#31d0aa;
}
.footer-social-link {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-wrapper {
display: block;
}

.footer-form {
display: flex;
width: 453px;
height: 80px;
margin-left: 80px;
gap: 24px;
}

.footer-form-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
margin-left: 80px;
}

.footer-form-wrapper-label {
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
gap: 24px;
}
.footer-form-input {
width: 264px;
height: 40px;
border: 1px solid #fff;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-left: 16px;
background-color: transparent;
font-size: 12px;
letter-spacing: 0.04em;
line-height: 2;
color: #FFFFFF;
}
.footer-form-input::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
}
.footer-form-input:focus {
border-color: #4D5AE5;
outline: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button {
min-width: 165px;
height: 40px;
padding: 8px 24px;
border-radius: 4px;
background: #4d5ae5;
border: none; 
color: #FFFFFF;
margin-left: 24px;
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}
.footer-form-button-icon {
fill: #FFFFFF;
margin-left: 16px;

}
.footer-form-button:hover, .footer-form-button:focus {
color: #FFFFFF;
background-color: #404BBF;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* Modal */
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color:rgba(46, 47, 66, 0.40);
opacity: 0;
visibility: hidden;
position: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}
.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
width: 408px;
min-height: 584px;
background-color: #FCFCFC;
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
position: absolute;  
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
padding: 0;
cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0.10);
background-color: #E7E9FC;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:hover,
.modal-close-btn:focus {
background-color: #404BBF;
border: none;
}
.modal-close-btn:hover>.modal-close-icon,
.modal-close-btn:focus>.modal-close-icon {
fill: #FFFFFF;
}


 /* Review form */
 .leave-your-contact {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 34px;
margin-bottom: 16px;
 }

.review-form-input {
width: 100%;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
padding-left: 62px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-left: 38px;
outline: transparent;
}
.review-form-input:focus {
border-color: #4D5AE5;
outline: transparent;
}
.review-form-input:focus + .review-form-field-icon {
fill: #4D5AE5;
}

.review-form-field-label {
display: block;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}
.review-form-field-wrapper {
margin-bottom: 8px;
}
.review-form-field-wrapper:nth-child(4){
margin-bottom: 16px;
}
.review-form-input-wrapper {
position: relative;
}

.review-form-field-icon {
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
fill: #2E2F42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message {
width: 100%;
height: 120px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
resize: none;
padding: 8px 16px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message:focus {
border-color: #4D5AE5;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message::placeholder {
color: rgba(46, 47, 66, 0.4);
}
.review-form-checkbox-label {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.privacy-policy-link {
line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.review-form-own-checrbox {
display: inline-flex;
justify-content: center;
align-items: center;
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
cursor: pointer;
fill: transparent;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-own-checrbox-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-privacy-checkbox:checked + .review-form-checkbox-label .review-form-own-checrbox {
background-color: #404BBF;
fill: #f4f4fd;
border-color: #404BBF;
border: none;

}

.review-form-checkbox-wrapper {
margin-bottom: 24px;
}

.review-form-privacy-checkbox:focus + .review-form-checkbox-label .review-form-own-checrbox {
outline: 1px solid rgba(46, 47, 66, 0.4);
}
.review-form-submit-btn {
display: block;
margin-left: auto;
margin-right: auto;
min-width: 169px;
height: 56px;
border-radius: 4px;
padding: 16px 32px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
background-color: #4d5ae5;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
border: none;
}

.review-form-submit-btn:hover, .review-form-submit-btn:focus {
color: #FFFFFF;
background-color: #404BBF;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* Header menu mobile*/

.mobile-menu {
position: relative;
}
.mobile-menu-close-icon {
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 100%;
padding: 0;
cursor: pointer;
stroke-width: 1px;
fill: #e7e9fc;;
border: 1px solid #2e2f42;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-close-icon {
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-close-btn:hover,
.mobil-close-btn:focus {
background-color: #404BBF;
border: none;
}
.mobil-close-btn:hover>.modal-close-icon,
.mobil-close-btn:focus>.modal-close-icon {
fill: #FFFFFF;
}
.mobile-nav-container {
max-width: 151px;
max-height: 200px;
margin-bottom: 158px;
margin-top: 72px;
}
.mobile-nav-menu {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
}
.mobile-link-menu {
margin-bottom: 40px;
}
.mobile-nav-studio {
color: #404bbf;   
}
.mobile-link-container {
max-width: 193px;
max-height: 22px;
}
.mobile-link-item {
margin-bottom: 24px;
}
.mobile-adress-link {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
}
.mobile-adress-link-tel {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #4d5ae5;
}
.mobile-social-list {
display: flex;
justify-content: space-between;
gap: 16px;
margin-top: 48px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-li {
margin-top: 48px;
}
.mobile-social-link {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;
fill: #fff;
}
.mobile-social-link:hover {
background-color: #31d0aa;
}
.mobile-social-link:focus {
background-color: #31d0aa;
}
.mobile-social-link {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



